@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.banner {
  height: 80vh;
  /* background: url("./logokecil.JPG") center center; */
  position: relative;
  justify-content: center;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.banner__info {
  /* box-shadow: 0px 5px 8px -5px rgba(57, 185, 153);
  border-radius: 80px;
  border-bottom: 1px solid #112240; */
  color: gray;
  background-color: none;
  padding-top: 10vh;
  align-items: center;
  min-width: 200px;
  padding-left: 50px;
  /* border-right: 1px solid #112240; */
  margin-right: 20px;
}

.banner__info > h2 {
  font-size: 2vw;
  color: lightgoldenrodyellow;
  margin-bottom: 50px;
  font-weight: 1000;
}

.quotes {
  font-size: 3vw;
  font-weight: 3000;
  color: #112240;
  font-family: Indiana Jonas;
  font-style: italic;
}

.banner__info > h2 {
  font-size: 30px;
  color: lightgray;
  width: 350px;
}

.button__resume button {
  margin-right: 20px;
  width: 180px;
  height: 50px;
  font-size: 18px;
  padding-left: 20px;
  font-family: monospace;
  background-color: #040a10;
  border-radius: 5px;
  color: #39b999;
  border: 2px solid #39b999;
  text-transform: inherit;
  font-weight: 800;
  margin-top: 20px;
  font-weight: 600;
}

.button__resume button:hover {
  color: #39b999;
  padding-left: 35px;
  transition: 0.8s;
}

.banner__info > h5 {
  padding-top: 10px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #a1a8b6;
  width: 300px;
}

.banner__info > h3 {
  font-size: 15px;
  margin-bottom: 20px;
  font-family: monospace;
  color: #39b999;
}

/* SKILLLLLSSS */

.skills {
  margin-top: 70px;
  color: #39b999;
}

.skills > h1 {
  font-family: Indiana Jonas;
  font-size: 35px;
  margin-bottom: 20px;
  color: #298b79;
  font-style: italic;
}

.skills > h2 {
  color: #a1a8b6;
}
.iconSkills {
  padding: 10px;
  display: flex;
}

.iconSkills i {
  width: 80px;
  margin-top: 15px;
  cursor: pointer;
  color: #112240;
  padding: 5px;
  justify-content: center;
  text-align: start;
}

.iconSkills p {
  color: #a1a8b6;
  font-weight: 1000;
  place-items: center;
  padding: 5px;
}

.iconSkills2 {
  margin-right: 50px;
}

.iconSkills2 > h2 {
  color: #a1a8b6;
  margin-bottom: 15px;
}

.iconSkills2 > ul {
  list-style: none;
  padding: 5px;
  color: #a1a8b6;
}

.iconSkills3 > ul {
  list-style: none;
  padding: 5px;
  color: #a1a8b6;
}

.iconSkills3 > h2 {
  margin-bottom: 15px;
  color: #a1a8b6;
}

.skillsOther {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  padding-top: 20px;
}

/* ICOONNNNN */

.iconHTML5 > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconREACT > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconNPM > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconNode > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconFire > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconSQL > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconCSS > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconGIT > i:hover {
  color: #39b999;
  transition: 0.8s;
}

.iconW > i:hover {
  color: #39b999;
  transition: 0.8s;
}

@media (max-width: 790px) {
  .banner {
    display: flex;
    flex-direction: column;
  }

  .iconSkills i {
    display: none;

    flex-direction: column;
  }

  .iconSkills p {
    display: flex;
  }
}

@media (max-width: 1090px) {
  .banner {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
  }

  .iconSkills i {
    display: none;

    flex-direction: column;
  }

  .iconSkills p {
    display: flex;
  }
}
