.button_resume1 {
  margin-top: 40px;
}
.button_resume1 > button {
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  font-family: monospace;
  background-color: #040a10;
  padding: 15px;
  border-radius: 5px;
  color: #39b999;
  border: 2px solid #39b999;
  text-transform: inherit;
  font-weight: 800;
  margin-top: 20px;
  font-weight: 600;
}
