.card {
  margin: 20px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 8px -5px rgba(57, 185, 153);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.07);
}

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
}
.card__info {
  background-color: #112240;
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.card__info > h2 {
  color: #ccd6f6;
  font-size: 18px;
  font-weight: 600;
}

.card__info > a {
  padding-right: 15px;
  color: #298b79;
  justify-content: right;
  place-items: right;
}

.card__info > a:hover {
  color: #f50057;
}

.card__info > h4 {
  color: #5c6988;
  font-family: monospace;
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
