::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tabs__education {
  color: #ccd6f6;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 55vw;
  height: 35vh;
  background: #001427;
  margin: 100px auto 100px;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  font-size: 15px;
  font-weight: 900;
  color: #2e9b84;
  padding: 20px;
  text-align: center;
  width: 100%;
  background: #001427;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #001427;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 1px);
  height: 2px;
  background: #f50057;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  border-radius: 5px;
  background: #112240;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 10px 10px 5px 10px;
}

.content p {
  width: 90%;
  height: 100%;
  padding: 10px 10px 5px 10px;
}
.active-content {
  display: block;
}
