* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #001427;
}
::selection {
  color: #298b79;
  background: #ff7979;
}
.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
  background: #001427;
}
.wrapper .center-line {
  box-shadow: turquoise;
  position: absolute;
  height: 100%;
  width: 2px;
  background: #f50057;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background: #112240;
  box-sizing: border-box;
  color: #5c6988;
  border-radius: 10px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;

  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #2e9b84;
  height: 10px;
  width: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #2e9b84;
  font-size: 10px;
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 30%;
  font-size: 10px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -45px;
}
.row-2 section .icon {
  top: 15px;
  left: -45px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 15px;
  font-weight: 600;
  color: #ccd6f6;
}
.row section p {
  margin: 10px 0 17px 0;
}
.row section .bottom a {
  text-decoration: none;
  background: #f50057;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -45px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
}
