.footer {
  display: flex;
  padding: 10px;
  background-color: #040a10;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #1d8b79;
}

.footer > p {
  padding: 5px;
  font-size: 14px;
  color: #1d8b79;
  font-family: monospace;
}

.footer__icon {
  object-fit: contain;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
  padding-left: 10px;
}

.footer > .MuiSvgIcon-root {
  color: white;
}
