@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.home__section {
  display: flex;
  padding: 30px;
  background-color: #001427;
  margin: auto;
}

.myProjects {
  margin-top: 100px;
  place-items: center;
  margin-left: 100px;
  color: #298b79;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 0px;
  justify-content: center;
}

.myProjects h1 {
  font-family: Indiana Jonas;
  font-size: 30px;
}

.myExperience {
  place-items: center;
  margin-left: 50px;
  color: #298b79;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 100px;
}

.myExperience > h1 {
  font-family: Indiana Jonas;
  font-size: 30px;
}
.myExperience > p {
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
  color: #ccd6f6;
}

.myProjects > p {
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
  color: #ccd6f6;
}

@media (max-width: 970px) {
  .home__section {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  .myProjects {
    margin-top: 200px;
  }
}

@media (max-width: 1024px) {
  .home__section {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1300px) {
  .home__section {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .myProjects {
    margin-top: 200px;
  }
}

@media (max-width: 1500px) {
  .home__section {
    display: flex;
    margin-left: 100px;
    margin: 200px auto 100px;
  }

  .home__section {
    display: flex;
    margin: 20px;
    justify-content: center;
  }
}

@media (max-width: 5000px) {
  .home__section {
    display: flex;
    margin: 20px;
    justify-content: center;
  }
}
