@import url("http://fonts.cdnfonts.com/css/indiana-jonas");

.formInput {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  color: #dfe6ec;
  place-items: center;
  padding-top: 30px;
  background-color: #001427;
}

.formInput > input {
  border: none;
  background-color: #001427;
  border-bottom: 3px solid #39b999;
  height: 6vh;
  outline: none;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  width: 25vw;
}

.formInput > input:hover {
  width: 30vw;
  transition: 0.9s;
}

.formInput > label {
  display: none;
  color: #39b999;
  font-size: 20px;
  font-family: monospace;
  justify-content: left;
  margin-top: 10px;
  width: 300px;
}

.formInput > textarea {
  border: none;
  border-bottom: 3px solid #39b999;
  outline: none;
  font-size: 20px;

  color: white;
  height: 20vh;
  width: 25vw;
  margin-top: 20px;
  background-color: #001427;
}

.formInput > textarea:hover {
  width: 30vw;
  transition: 0.9s;
}

.formInput > button {
  font-size: 15px;
  font-family: monospace;
  font-weight: 700;
  background-color: #f50057;
  height: 40px;
  color: whitesmoke;
  margin-bottom: 40px;
  margin-top: 30px;
  width: 170px;
}

.formInput > button:hover {
  position: relative;
  background-color: #ff4569;
  color: whitesmoke;
  width: 170px;
}

.formInput > h4 {
  margin-top: 20px;
  padding-bottom: 50px;
  font-family: monospace;
  font-size: 15px;
}

.formInput > h3 {
  margin-bottom: 10px;
  font-family: monospace;
}

.formInput > h1 {
  margin-bottom: 50px;
  font-family: Indiana Jonas;
  color: #39b999;
}

.formInput > h2 {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: monospace;
}

.typograph {
  color: #39b999;
  font-family: fantasy;
}

/* ABOUTT */
.about-content {
  display: flex;
}
